---
import "../css/card.css";
import Layouts from "../layouts/Layouts.astro";
import Infomodetider from "../components/Infomodetider.astro";
import AccordionComponent from "../components/Accordion.astro";
import Faq from "../components/Faq.astro"
---
<Layouts>
<Accordion>
</Accordion>
<section>
<Infomodetider
dato="06 Januar 2026"
tid="Kl. 18.30 - 20.00">
</Infomodetider>
<Infomodetider
dato="03 Februar 2026"
tid="Kl. 18.30 - 20.00">
</Infomodetider>
<Infomodetider
dato="17 Marts 2026"
tid="Kl. 18.30 - 20.00">
</Infomodetider>
<Infomodetider
dato="14 April 2026"
tid="Kl. 18.30 - 20.00">
</Infomodetider>
<Infomodetider
dato="05 Maj 2026"
tid="Kl. 18.30 - 20.00">
</Infomodetider>
<Infomodetider
dato="09 Juni 2026"
tid="Kl. 18.30 - 20.00">
</Infomodetider>
</section>
<Faq>
    
</Faq>

</Layouts>