---
import Layouts from "../layouts/Layouts.astro";
import Navbar from "../components/Navbar.astro"
---

<!-- giver ikke mening at min import Button from "...Button" melder fejl og skal skrives med button lille B for at acceptere? Spørger underviser i morgen eller torsdag -->
<Layouts>
	<h1>Hej Astro-Layout</h1>
	<h2>Jeg er en subheader</h2>
	<Navbar />

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis amet modi ipsum deleniti! Ipsum nam odit eos officiis sed sapiente blanditiis ab nemo totam sint nisi expedita, minus, reprehenderit ducimus?</p>
</Layouts>

