---
import Layouts from "../layouts/Layouts.astro";
import Button from "../components/Button.astro";
import Form from "../components/Form.astro";
import Cards from "../components/Cards.astro";
import "../css/card.css";
import "../css/main.css"
import Faq from "../components/Faq.astro";
import Accordion from "../components/Accordion.astro";
import Infomodetider from "../components/Infomodetider.astro";
---

<Layouts>
  <section id="form_section">
    <Form headline="Tilmeld dig et infomøde her" bgimage="img/sunset.jpg" />

    <section class="cardsgrid2">
      <div class="card_picture">
        <Cards cardstitle="Se vores rejser her" />
      </div>

      <div class="card_list">
        <p class="onlineinfomødebyline">ONLINE INFOMØDE</p>
        <h2>Kom til infomøde</h2>
        <p>Kig forbi et af vores hyggelige online-infomøder – vi glæder os til at møde dig!</p>
        <div>
          <Infomodetider
         dato="06 Januar 2026"
         tid="Kl. 18.30 - 20.00">
         </Infomodetider>
         <Infomodetider
         dato="03 Februar 2026"
         tid="Kl. 18.30 - 20.00">
         </Infomodetider>
         <Infomodetider
         dato="17 Marts 2026"
         tid="Kl. 18.30 - 20.00">
         </Infomodetider>
         <Infomodetider
         dato="14 April 2026"
         tid="Kl. 18.30 - 20.00">
         </Infomodetider>
         <Infomodetider
         dato="05 Maj 2026"
         tid="Kl. 18.30 - 20.00">
         </Infomodetider>
         <Infomodetider
         dato="09 Juni 2026"
         tid="Kl. 18.30 - 20.00">
         </Infomodetider>
        </div>
      </div>
    </section>

    <section class="cardsgrid2">
      <div class="card_list">
         <h2>5 typiske bekymringer</h2>
       <Accordion>
       </Accordion>
      </div>
     <div class="card_picture"><Cards cardstitle="Fællesskabsbillede" /></div>
    </section>
  </section>

  <!---------- Har udkommenteret og ikke slettet nedenstående, just in case vi skal bruge det igen //C ---------->

  <!-- <h1>Hej Astro-Layout</h1>
  <h2>Jeg er en subheader</h2> -->
  <!-- indsætter ikon på knapper senere -->

  <!-- <Button title="Se rejsekalender" variant="primary" />
  <Button title="Infomøder" variant="secondary" />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis amet modi
    ipsum deleniti! Ipsum nam odit eos officiis sed sapiente blanditiis ab nemo
    totam sint nisi expedita, minus, reprehenderit ducimus?
  </p> -->
</Layouts>
