---
const { cardstitle, badge1, badge2, cardstext, variant } = Astro.props;
---

<article>
<p class="badge1">{badge1}</p>
<p class="badge2">{badge2}</p>
<h4 class="cardstitle">{cardstitle}</h4>
<p class="cardstext">{cardstext}</p>
</article>


<style>

    article{
        border-radius: 16px;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
/* Layout */ display: flex;
width:auto;
height: 426px;
padding: 24px;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
    }

    .badge1{
       color: #fff; background-color: #CE5501; text-align: center;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 120%;
display: flex;
height: 32px;
padding: 0 16px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 4px;
    }
.badge2{
 display: flex;
 height: 28px;
 padding: 0 12px;
 justify-content: center;
 align-items: center;
 gap: 8px; 
 border-radius: 4px;
 background: #2E86AB; color: #FFF;
 text-align: center;
 font-family: Poppins;
 font-size: 12px;
 font-style: normal;
 font-weight: 700;
 line-height: 120%;
}
.cardstitle{
    color: #FFF;
 font-family: "Dela Gothic One";
 font-size: 24px;
 font-style: normal;
 font-weight: 400;
 line-height: 120%;
}
.cardstext{color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 120%; }
</style>