---
const {dato, tid } = Astro.props;
---
<section>
<div class="event-item">
  <div class="event-left">
    <div class="event-date">
      <span class="calendar-icon">
        <svg width="16" height="16" viewBox="0 0 24 24">
          <path 
            d="M7 2v2M17 2v2M3 8h18M5 4h14a2 2 0 012 2v14H3V6a2 2 0 012-2z"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
          />
        </svg>
      </span>
      <span>{dato}</span>
    </div>
  </div>

  <div class="event-time">
    {tid}
  </div>
</div>
</section>
<style>
  .event-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px dashed #CE5501;
    width:567px ;
  }

  .event-left {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .event-date {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    font-family: Poppins;
    font-weight:700;
    color: #000;
  }

  .event-title {
    font-size: 18px;
    margin: 0;
  }

  .event-time {
   font-size: 16px;
    font-family: Poppins;
    font-weight:700;
    color: #000;
    white-space: nowrap;
  }

  .calendar-icon {
    display: flex;
    align-items: center;
    color: #CE5501;
  }
</style>


<!-- ---
const items = [
    {dato: "06 Januar 2026", tid:"Kl. 18.30 - 20.00" }, 
    {dato: "03 Februar 2026", tid:"Kl. 18.30 - 20.00" },
    {dato: "17 Marts 2026", tid:"Kl. 18.30 - 20.00" },
    {dato: "14 April 2026", tid:"Kl. 18.30 - 20.00" }, 
    {dato: "14 April 2026", tid:"Kl. 18.30 - 20.00" },
    {dato: "09 Juni 2026", tid:"Kl. 18.30 - 20.00" }
];
--- -->
