.cardsgrid1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.cardsgrid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-top: 16px;
}


/* liste kort */

.card_list article {
  background: none;
  border-radius: 16px;
  display: flex;
  width: auto;
  height: 426px;
  padding: 24 px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}

.card_list .badge1 {
  color: #ce5501;
  background: white;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  display: flex;
  height: 32px;
  padding: 0 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  padding: 0;
}

.card_list .badge2 {
  display: flex;
  height: 28px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background-color: white;
  color: black;
  text-align: start;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding: 0;
}

/* billede kort */


.card_picture .badge1 {
  background: none;
}

.card_picture .badge2 {
  background: none;
}