body {
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-size: 60px;
}

h2 {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-size: 40px;
}
